<template>
    <div class="section">
        <document-view-header :document="document" :version="version" :promise="promise" />
        <div v-if="document" class="columns">
            <div class="column is-3">
                <div class="box">
                    <field-view :document="document" :field="fields.activities" />
                    <field-view :document="document" :field="fields.categories" />
                    <field-view :document="document" :field="fields.article_type" />
                    <field-view :document="document" :field="fields.quality" />
                </div>

                <tool-box :document="document"/>
            </div>
            <div class="column is-9">
                <div class="box">
                    <markdown-section :document="document" :field="fields.summary"/>
                    <markdown-section :document="document" :field="fields.description" hide-title/>
                </div>

                <recent-outings-box :document="document"/>

                <images-box :document="document" ref="imagesBox"/>

                <comments-box :document="document" />
            </div>
        </div>
    </div>
</template>

<script>
    import DocumentViewMixin from './utils/DocumentViewMixin.js'

    export default {
        mixins: [ DocumentViewMixin ]
    }
</script>
