<template>
    <div class="section">
        <document-view-header :document="document" :version="version" :promise="promise" />

        <div v-if="document" class="columns is-multiline">

            <images-box class="column is-12" :document="document" ref="imagesBox"/>

            <div class="column is-3">
                <map-box :document="document"/>
                <tool-box :document="document"/>
            </div>

            <div class="column is-9">

                <div class="box">
                    <div>
                        <!-- API anti-pattern :
                        associations.users should have been called associations.profiles
                        as it refers to profiles document
                        let stay profile coherent and call this component profiles-links
                        and not users-links -->
                        <profiles-links :profiles="document.associations.users"/>
                        {{ document.cooked.participants }}
                    </div>

                    <div v-for="route of document.associations.routes" :key="route.document_id">
                        <pretty-route-link :route="route"/>
                    </div>

                    <div class="columns">

                        <div class="column is-4">
                            <label-value :label="$gettext('activities')">
                                <activities :activities="document.activities" class="is-size-3 has-text-primary"/>
                            </label-value>

                            <field-view :document="document" :field="fields.frequentation"/>
                            <field-view :document="document" :field="fields.condition_rating"/>
                            <field-view v-if="document.partial_trip" :document="document" :field="fields.partial_trip"/>
                            <field-view :document="document" :field="fields.quality"/>

                            <field-view :document="document" :field="fields.participant_count"/>

                        </div>

                        <div class="column is-4">
                            <label-value :label="$gettext('ratings')">
                                <outing-rating :document="document" />
                            </label-value>

                            <field-view :document="document" :field="fields.access_condition"/>
                            <field-view :document="document" :field="fields.lift_status"/>
                            <field-view v-if="document.public_transport" :document="document" :field="fields.public_transport"/>
                            <field-view :document="document" :field="fields.hut_status"/>

                        </div>

                        <div class="column is-4">
                            <double-numeric-field
                                :document="document"
                                :field1="fields.elevation_min"
                                :field2="fields.elevation_max"
                                :label="$gettext('elevation')" />

                            <field-view :document="document" :field="fields.elevation_access"/>

                            <double-numeric-field
                                :document="document"
                                :field1="fields.height_diff_up"
                                :field2="fields.height_diff_down"
                                :label="$gettext('height difference')"
                                show-signs />

                            <label-value v-if="document.length_total" :label="$gettext('length_total')">
                                {{ document.length_total / 1000 }}&nbsp;km
                            </label-value>

                            <field-view :document="document" :field="fields.elevation_up_snow"/>
                            <field-view :document="document" :field="fields.elevation_down_snow"/>

                            <field-view :document="document" :field="fields.snow_quantity"/>
                            <field-view :document="document" :field="fields.snow_quality"/>

                            <field-view :document="document" :field="fields.glacier_rating"/>
                            <field-view :document="document" :field="fields.avalanche_signs"/>

                        </div>
                    </div>
                </div>

                <div class="box">

                    <markdown-section :document="document" :field="fields.weather"/>
                    <markdown-section :document="document" :field="fields.conditions"/>

                    <condition-levels :data="locale.conditions_levels"/>

                    <markdown-section :document="document" :field="fields.avalanches"/>
                    <markdown-section :document="document" :field="fields.description" :title="$gettext('personal comments')"/>
                    <markdown-section :document="document" :field="fields.access_comment" />
                    <markdown-section :document="document" :field="fields.route_description" />
                    <markdown-section :document="document" :field="fields.hut_comment"/>
                    <markdown-section :document="document" :field="fields.timing"/>

                </div>

                <comments-box :document="document" />

            </div>
        </div>
    </div>
</template>

<script>
    import DocumentViewMixin from './utils/DocumentViewMixin.js'
    import ConditionLevels from './utils/field-viewers/ConditionLevels'

    export default {
        components: {
            ConditionLevels
        },

        mixins: [ DocumentViewMixin ]

    }
</script>
