<template>
    <div class="work-in-progress-view">
        <html-header title="WIP WIP WIP"/>
        <fa-icon class="wrench"/>
    </div>
</template>

<style scoped>
    .work-in-progress-view div{
        justify-content:center;
    }

    .work-in-progress-view i{
        font-size:3000%;
    }
</style>
