<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon-16x16.png" sizes="16x16">
    <title>Camptocamp.org</title>
  </head>
  <body>
    <noscript>
        <strong>We're sorry but camptocamp.org doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- Keep the splashscreen inside index.html to avoid any lag -->
    <div id="splashscreen">
        <svg viewBox="0 0 524.40927 262.20457" width="33%" style="margin:100px 33%;margin-top:33vh">
          <g transform="translate(0,-790.15805)">
            <g transform="matrix(1.25,0,0,-1.25,-119.81876,1477.5845)">
              <g transform="translate(2.5228132,103.43534)">
                  <path style="fill:#262323;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 337.02561,395.20948 1.312,-0.881 c 0.063,-0.047 2.523,-1.878 2.523,-1.878 0.338,-0.251 0.565,-0.636 0.647,-1.083 0.072,-0.435 -0.011,-0.897 -0.226,-1.276 -12.657,-21.115 -50.69,-38.67 -56.803,-34.423 -0.339,0.236 -0.596,0.62 -0.678,1.061 -0.03,0.144 -0.041,0.293 -0.03,0.441 0.009,0.298 0.082,0.579 0.225,0.836 l 1.334,2.4 c 0.03,0.821 0.195,2.232 0.944,3.18 l 1.804,0.975 c 2.135,0.375 36.301,12.437 46.897,30.135 0.461,0.749 1.353,0.979 2.051,0.513" />
                  <path style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 223.68461,425.23648 c -13.305,-25.703 -62.9798,-56.306 -65.656,-56.895 l -2.2672,-1.437 c -0.9543,-1.379 -1.1589,-3.414 -1.1906,-4.594 l -1.6711,-3.493 c -0.1851,-0.364 -0.2773,-0.784 -0.2879,-1.206 -0.009,-0.215 0.0106,-0.43 0.0516,-0.641 0.1133,-0.625 0.4207,-1.164 0.8516,-1.503 7.7242,-5.964 55.6246,20.182 71.5026,50.856 0.277,0.548 0.38,1.205 0.277,1.841 -0.102,0.636 6.226,13.627 5.805,13.98 0,0 -3.108,2.575 -3.19,2.636 l -1.651,1.241 c -0.882,0.652 -2.01,0.308 -2.574,-0.785" />
                  <path style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 246.44461,445.01348 0.37,-4.616 c 0.214,-0.021 21.324,-2.503 32.453,-29.653 15.078,-36.773 48.783,-56.59 128.83,-75.6919 l 1.087,4.7369 c -0.103,0.032 -9.817,3.083 -46.588,21.751 -7.97,4.051 -24.781,16.745 -31.644,22.018 -9.476,7.271 -17.406,16.979 -25.089,26.37 -5.59,6.852 -10.872,13.324 -16.36,18.309 -27.602,25.115 -42.443,17.13 -43.059,16.776" />
                  <path style="fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 119.28141,318.16868 -17.068,0 c -2.379689,0 -4.271879,0.841 -5.671489,2.5238 -1.328513,1.5789 -1.99531,3.5691 -1.99531,5.989 l 0,21.022 c 0,3.293 0.646094,5.56 1.94375,6.801 1.29219,1.246 3.605469,1.867 6.928519,1.867 l 15.86253,0 0,-8.207 c 0.1082,0 -0.9125,0.078 -3.0512,0.227 -2.134,0.148 -4.0266,0.226 -5.6723,0.226 -5.2617,0 -7.88786,-0.718 -7.88786,-2.161 l 0,-16.7171 c 0,-1.3039 0.19492,-2.1758 0.57968,-2.6368 0.38438,-0.4621 1.2254,-0.6871 2.52308,-0.6871 l 13.5086,0 0,-8.2468" />
                  <path style="fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 138.33411,326.88738 0,2.0922 c 0,1.0051 -0.6309,1.4969 -1.8926,1.4969 l -6.0004,0 c -0.948,0 -1.4203,-0.461 -1.4203,-1.395 l 0,-2.1941 c 0,-0.441 0.1852,-0.8309 0.5535,-1.1687 0.37,-0.3293 0.7953,-0.4922 1.2875,-0.4922 l 5.7336,0 c 1.159,0 1.7387,0.5531 1.7387,1.6609 z m 7.1797,-1.9898 c 0,-1.8871 -0.6152,-3.4879 -1.8356,-4.7801 -1.2254,-1.2918 -2.7843,-1.9488 -4.6722,-1.9488 l -9.8676,0 c -2.1688,0 -3.8867,0.5328 -5.1438,1.5789 -1.4359,1.1187 -2.1542,2.75 -2.1542,4.882 l 0,5.8269 c 0,2.7598 0.9953,4.6989 2.9855,5.827 1.5019,0.8398 3.718,1.256 6.6461,1.256 0.8418,0 2.0465,-0.045 3.6156,-0.144 1.5699,-0.098 2.652,-0.1491 3.2465,-0.1491 0.0363,1.0721 -0.0207,1.7291 -0.1586,1.9801 -0.2461,0.462 -0.8418,0.692 -1.7898,0.692 l -14.5453,0 0,6.894 16.396,0 c 4.8524,0 7.2774,-2.242 7.2774,-6.725 l 0,-15.1899" />
                  <path style="fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 184.34271,339.92948 0,-21.7608 -7.1805,0 0,19.2418 c 0,1.508 -0.9738,2.263 -2.9179,2.263 -0.2461,0 -0.62,-0.015 -1.1231,-0.052 -0.5023,-0.036 -0.8613,-0.056 -1.0668,-0.056 -1.2156,0 -1.8258,-0.611 -1.8258,-1.836 l 0,-19.5608 -7.1797,0 0,19.5608 c 0,1.225 -0.6054,1.836 -1.8109,1.836 -0.2051,0 -0.5535,0.02 -1.0355,0.056 -0.4821,0.037 -0.8621,0.052 -1.1383,0.052 -1.9649,0 -2.9492,-0.755 -2.9492,-2.263 l 0,-19.2418 -7.1797,0 0,21.7608 c 0,2.066 0.5843,3.729 1.7539,4.99 1.1687,1.262 2.7847,1.893 4.8461,1.893 l 5.4976,0 c 2.7598,0 4.6258,-0.848 5.6055,-2.539 0.9082,1.691 2.775,2.539 5.6055,2.539 l 5.498,0 c 2.0613,0 3.677,-0.631 4.8469,-1.893 1.1691,-1.261 1.7539,-2.924 1.7539,-4.99" />
                  <path
                     style="fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 205.09261,327.17328 0,10.9042 c 0,0.389 -0.169,0.729 -0.497,1.026 -0.339,0.298 -0.713,0.446 -1.134,0.446 l -5.631,0 c -0.559,0 -1.041,-0.211 -1.446,-0.631 -0.406,-0.42 -0.605,-0.923 -0.605,-1.517 l 0,-9.7559 c 0,-1.4769 0.753,-2.2141 2.261,-2.2141 l 5.472,0 c 0.385,0 0.744,0.1938 1.083,0.584 0.328,0.3801 0.497,0.77 0.497,1.1578 z m 7.18,-2.532 c 0,-4.4406 -3.518,-6.6777 -10.56,-6.6777 -0.805,0 -1.887,0.0398 -3.256,0.1027 -1.364,0.0723 -2.257,0.1024 -2.677,0.1024 l 0,-10.709 c -0.98,0.1449 -3.3701,0.1449 -7.1803,0 l 0,31.7368 c 0,2.24 0.5075,4.025 1.5231,5.353 1.118,1.508 2.764,2.263 4.9342,2.263 l 10.287,0 c 2.278,0 4.001,-0.657 5.17,-1.971 1.174,-1.312 1.759,-3.092 1.759,-5.333 l 0,-14.8672" />
                  <path
                     style="fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 281.28661,260.40068 -22.187,0 c -3.097,0 -5.554,1.0969 -7.374,3.2828 -1.728,2.0512 -2.595,4.6449 -2.595,7.7852 l 0,27.3148 c 0,4.277 0.841,7.2199 2.528,8.841 1.682,1.6199 4.688,2.4211 9.011,2.4211 l 20.617,0 0,-10.668 c 0.139,0 -1.185,0.1028 -3.959,0.2868 -2.775,0.1953 -5.237,0.2882 -7.37,0.2882 -6.831,0 -10.242,-0.923 -10.242,-2.7902 l 0,-21.7461 c 0,-1.6808 0.252,-2.8207 0.748,-3.416 0.503,-0.584 1.596,-0.8906 3.278,-0.8906 l 17.545,0 0,-10.709" />
                  <path
                     style="fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 321.93061,284.85338 0,4.6153 c 0,2.2359 -1.396,3.3449 -4.165,3.3449 l -13.155,0 c -2.077,0 -3.118,-1.036 -3.118,-3.109 l 0,-4.8512 c 0,-0.9949 0.406,-1.866 1.21,-2.584 0.811,-0.739 1.754,-1.1078 2.832,-1.1078 l 12.58,0 c 2.543,0 3.816,1.2309 3.816,3.6918 z m 15.837,-4.4097 c 0,-4.1653 -1.354,-7.6622 -4.051,-10.5141 -2.699,-2.852 -6.125,-4.277 -10.278,-4.277 l -21.726,0 c -4.773,0 -8.549,1.159 -11.318,3.477 -3.159,2.4609 -4.739,6.041 -4.739,10.7488 l 0,12.8321 c 0,6.0921 2.19,10.38 6.565,12.841 3.297,1.848 8.17,2.7711 14.621,2.7711 1.842,0 4.493,-0.093 7.945,-0.2871 3.451,-0.186 5.83,-0.2891 7.144,-0.2891 0.071,2.2992 -0.041,3.7133 -0.349,4.2582 -0.544,0.9937 -1.857,1.4867 -3.939,1.4867 l -31.987,0 0,15.0981 36.09,0 c 10.678,0 16.022,-4.9239 16.022,-14.77 l 0,-33.3757" />
                  <path
                     style="fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 408.13161,304.80338 0,-39.1508 -12.966,0 0,34.5868 c 0,2.7082 -1.754,4.0621 -5.251,4.0621 -0.441,0 -1.108,-0.02 -2.011,-0.093 -0.913,-0.0609 -1.558,-0.091 -1.928,-0.091 -2.195,0 -3.282,-1.1102 -3.282,-3.3039 l 0,-35.161 -12.965,0 0,35.161 c 0,2.1937 -1.087,3.3039 -3.262,3.3039 -0.369,0 -0.984,0.0301 -1.857,0.091 -0.872,0.073 -1.548,0.093 -2.051,0.093 -3.539,0 -5.303,-1.3539 -5.303,-4.0621 l 0,-34.5868 -12.965,0 0,39.1508 c 0,3.7242 1.057,6.7192 3.16,8.975 2.113,2.2781 5.026,3.4063 8.739,3.4063 l 9.918,0 c 4.974,0 8.339,-1.5184 10.103,-4.5453 1.642,3.0269 5.006,4.5453 10.104,4.5453 l 9.919,0 c 3.712,0 6.626,-1.1282 8.738,-3.4063 2.103,-2.2558 3.16,-5.2508 3.16,-8.975" />
                  <path
                     style="fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 445.42661,281.82758 0,19.6637 c 0,0.6973 -0.298,1.3133 -0.903,1.8453 -0.595,0.5328 -1.272,0.8 -2.032,0.8 l -10.113,0 c -1.015,0 -1.877,-0.3691 -2.605,-1.1293 -0.728,-0.7578 -1.087,-1.6707 -1.087,-2.7476 l 0,-17.5801 c 0,-2.6461 1.354,-3.9801 4.061,-3.9801 l 9.848,0 c 0.686,0 1.333,0.3488 1.928,1.0461 0.605,0.6981 0.903,1.3848 0.903,2.082 z m 12.965,-4.564 c 0,-8.011 -6.339,-12.0211 -19.018,-12.0211 -1.445,0 -3.404,0.0719 -5.866,0.2051 -2.462,0.1429 -4.062,0.205 -4.821,0.205 l 0,-19.28316 c -1.764,0.25586 -6.093,0.25586 -12.965,0 l 0,57.11096 c 0,4.0312 0.912,7.2422 2.749,9.641 2.011,2.7082 4.974,4.0633 8.883,4.0633 l 18.544,0 c 4.103,0 7.212,-1.1801 9.324,-3.5492 2.113,-2.3598 3.17,-5.5602 3.17,-9.6008 l 0,-26.7711" />
                  <path
                     style="fill:#262323;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 379.50961,396.81048 c 4.811,-2.991 9.652,-7.031 14.781,-11.309 7.036,-5.857 14.288,-11.914 22.515,-16.166 5.948,-3.077 20.504,-10.477 27.191,-12.627 30.873,-9.898 38.833,-11.22 38.905,-11.226 l -0.359,-3.363 c -64.928,6.682 -93.524,17.616 -109.238,41.782 -11.621,17.841 -28.494,17.837 -28.658,17.832 l -0.78,3.164 c 0.461,0.292 11.283,7.015 35.643,-8.087" />
                  <path
                     style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 229.78961,383.49748 2.039,-3.267 c -0.096,-0.064 -9.07,-6.809 -1.393,-28.16 10.4,-28.921 3.681,-50.6042 -25.7,-82.8421 l -2.8,3.002 c 0.033,0.0461 3.249,4.4633 11.993,26.0851 1.895,4.6918 3.895,17.443 4.667,22.711 1.077,7.266 0.231,15.841 -0.575,24.142 -0.6,6.052 -1.166,11.768 -0.915,16.509 1.234,23.879 12.217,21.918 12.684,21.82" />
                  <path
                     style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 264.62261,378.62948 1.015,-1.212 c 0.047,-0.063 1.901,-2.506 1.901,-2.506 0.255,-0.335 0.364,-0.769 0.319,-1.22 -0.052,-0.438 -0.26,-0.859 -0.572,-1.163 -18.038,-16.754 -59.456,-23.02 -64.144,-17.238 -0.26,0.321 -0.4,0.761 -0.356,1.207 0.011,0.147 0.043,0.293 0.094,0.432 0.093,0.284 0.24,0.534 0.45,0.741 l 1.949,1.933 c 0.258,0.78 0.809,2.089 1.792,2.791 l 2.005,0.434 c 2.155,-0.234 38.328,1.834 53.434,15.88 0.652,0.591 1.573,0.563 2.113,-0.079" />
                  <path
                     style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 266.83061,357.00848 c 4.359,0 6.54,-0.514 6.54,-1.542 0,-1.176 -0.979,-1.807 -2.935,-1.896 -2.366,-0.146 -4.571,-0.82 -6.615,-2.021 -2.044,-1.201 -3.861,-2.843 -5.453,-4.923 -1.592,-2.08 -2.833,-4.424 -3.724,-7.032 -0.89,-2.6071 -1.336,-5.3622 -1.336,-8.263 0,-3.1929 0.744,-5.764 2.233,-7.7121 1.488,-1.95 3.429,-2.923 5.823,-2.923 2.219,0 4.159,1.1422 5.823,3.4269 1.664,2.2864 2.496,4.9524 2.496,7.9993 0,2.491 -0.519,4.8269 -1.558,7.0089 -1.039,2.183 -2.554,4.022 -4.543,5.517 -0.85,0.674 -1.274,1.157 -1.274,1.45 0,0.41 0.6,1.04 1.801,1.89 1.347,0.908 2.855,1.67 4.524,2.285 1.669,0.615 3.075,0.923 4.217,0.923 1.318,0 2.57,-0.345 3.756,-1.033 1.186,-0.689 2.233,-1.671 3.141,-2.944 0.908,-1.274 1.603,-2.739 2.087,-4.393 0.482,-1.656 0.724,-3.42 0.724,-5.294 0,-3.106 -0.586,-6.174 -1.757,-9.2049 -1.171,-3.032 -2.708,-5.4851 -4.61,-7.3601 -2.459,-2.3731 -5.423,-4.3129 -8.892,-5.8211 -3.468,-1.509 -6.769,-2.2629 -9.901,-2.2629 -3.045,0 -6.067,0.5281 -9.067,1.582 -3,1.0551 -5.379,2.4461 -7.135,4.1758 -2.342,2.3442 -3.513,5.6692 -3.513,9.9762 0,3.398 0.834,6.7969 2.502,10.196 1.668,3.398 3.928,6.482 6.781,9.252 2.854,2.768 5.999,4.951 9.439,6.548 3.438,1.596 6.914,2.395 10.426,2.395" />
                  <path
                     style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 451.55261,245.82137 c -1.178,0 -1.766,0.39609 -1.766,1.19023 0,0.24571 0.066,0.62308 0.197,1.13088 0.13,0.5082 0.268,0.9172 0.412,1.2281 0.392,0.8988 0.752,1.4828 1.079,1.7559 0.379,0.3379 0.945,0.6379 1.697,0.8992 0.752,0.2598 1.416,0.3887 1.992,0.3887 0.811,0 1.217,-0.4668 1.217,-1.4047 0,-0.8844 -0.256,-1.9633 -0.766,-3.2383 -0.13,-0.3629 -0.284,-0.63282 -0.461,-0.80899 -0.176,-0.17579 -0.467,-0.3418 -0.873,-0.49805 -1.112,-0.42891 -2.021,-0.64297 -2.728,-0.64297" />
                  <path
                     style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 470.86861,265.47758 c 1.94,0 2.91,-0.23 2.91,-0.6871 0,-0.523 -0.435,-0.805 -1.307,-0.8441 -1.054,-0.066 -2.036,-0.3668 -2.946,-0.902 -0.912,-0.5347 -1.721,-1.2668 -2.43,-2.1937 -0.709,-0.9281 -1.262,-1.9731 -1.658,-3.1363 -0.398,-1.1618 -0.596,-2.3899 -0.596,-3.6829 0,-1.4242 0.332,-2.571 0.997,-3.439 0.665,-0.868 1.531,-1.3031 2.601,-1.3031 0.99,0 1.857,0.5113 2.599,1.532 0.744,1.0199 1.115,2.2121 1.115,3.573 0,1.1121 -0.231,2.1563 -0.693,3.1313 -0.463,0.9746 -1.137,1.7969 -2.021,2.4648 -0.378,0.3 -0.567,0.516 -0.567,0.6469 0,0.1832 0.267,0.4641 0.801,0.8449 0.598,0.4043 1.268,0.7453 2.01,1.0192 0.742,0.2761 1.367,0.4129 1.875,0.4129 0.586,0 1.141,-0.1528 1.669,-0.461 0.527,-0.307 0.993,-0.7449 1.395,-1.3129 0.404,-0.5679 0.713,-1.2218 0.928,-1.9601 0.215,-0.7379 0.322,-1.5258 0.322,-2.3617 0,-1.3852 -0.261,-2.7543 -0.781,-4.1082 -0.522,-1.3508 -1.205,-2.4469 -2.052,-3.2829 -1.095,-1.0582 -2.413,-1.9242 -3.957,-2.59801 -1.544,-0.67109 -3.013,-1.0082 -4.405,-1.0082 -1.356,0 -2.701,0.23516 -4.035,0.7043 -1.336,0.46992 -2.395,1.08981 -3.176,1.86091 -1.041,1.043 -1.563,2.525 -1.563,4.443 0,1.5141 0.372,3.0277 1.114,4.5418 0.742,1.5152 1.747,2.8883 3.016,4.123 1.269,1.2321 2.669,2.2051 4.199,2.9161 1.529,0.7101 3.075,1.0671 4.636,1.0671" />
                  <path
                     style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 485.56861,251.76548 -0.077,-0.391 c 0,-0.2199 -0.025,-0.5398 -0.076,-0.9558 -0.053,-0.6372 -0.124,-1.1571 -0.215,-1.5614 -0.091,-0.4027 -0.228,-0.7379 -0.411,-1.0047 -0.182,-0.2671 -0.43,-0.55 -0.743,-0.84918 -0.951,-0.87187 -1.91,-1.30703 -2.874,-1.30703 -0.782,0 -1.359,0.28594 -1.731,0.8582 -0.372,0.57305 -0.557,1.49801 -0.557,2.77301 0,1.0161 0.113,2.2688 0.342,3.7598 0.226,1.4902 0.503,2.8281 0.828,4.0121 l 0.156,0.5078 c 0,0.0782 0.039,0.241 0.117,0.4883 0.481,1.7719 0.922,3.082 1.326,3.9359 0.403,0.8508 0.891,1.5391 1.463,2.059 0.506,0.4039 1.078,0.6059 1.715,0.6059 0.924,0 1.483,-0.5598 1.678,-1.6801 0.183,0.1563 0.358,0.3391 0.527,0.5473 0.379,0.4558 0.672,0.759 0.881,0.9078 0.208,0.1492 0.449,0.225 0.723,0.225 1.121,0 1.681,-1.1078 1.681,-3.3219 0,-1.2121 -0.13,-2.384 -0.392,-3.5172 -0.262,-1.1328 -0.592,-2.0578 -0.991,-2.7738 -0.4,-0.716 -0.795,-1.075 -1.188,-1.075 -0.432,0 -0.647,0.8141 -0.647,2.441 0,0.857 -0.048,1.5309 -0.144,2.0192 -0.096,0.4878 -0.246,0.8679 -0.45,1.1418 -0.384,-0.729 -0.633,-2.3942 -0.748,-4.995 -0.09,-1.5101 -0.154,-2.459 -0.193,-2.85" />
                  <path
                     style="fill:#f68712;fill-opacity:1;fill-rule:nonzero;stroke:none"
                     d="m 505.91561,255.33658 0,-0.0781 -0.078,0.0781 c -0.078,-0.0261 -0.182,-0.039 -0.311,-0.039 -0.246,-0.0262 -0.556,-0.0391 -0.932,-0.0391 -0.661,0 -0.991,0.1238 -0.991,0.3719 0,0.1293 0.084,0.2859 0.254,0.4691 0.494,0.561 0.92,1.2969 1.279,2.209 0.357,0.9129 0.556,1.741 0.596,2.484 0,0.182 0.012,0.3461 0.039,0.489 0.012,0.052 0.022,0.0969 0.029,0.136 0.006,0.039 0.01,0.073 0.01,0.098 0,0.184 -0.124,0.2739 -0.371,0.2739 -0.51,0 -1.292,-0.5469 -2.349,-1.643 -0.665,-0.7051 -1.292,-1.5391 -1.878,-2.5051 -0.588,-0.9656 -1.044,-1.9308 -1.37,-2.8957 -0.326,-0.9652 -0.489,-1.8332 -0.489,-2.6019 0,-0.7571 0.188,-1.1352 0.566,-1.1352 0.364,0 1.282,0.6129 2.754,1.841 0.664,0.5738 1.744,1.4031 3.242,2.4871 z m -0.969,-4.1793 -0.527,-0.391 c -0.039,-0.0387 -0.102,-0.0906 -0.186,-0.1558 -0.085,-0.0661 -0.193,-0.15 -0.324,-0.254 -2.255,-1.7582 -4.024,-2.9949 -5.308,-3.71089 -1.284,-0.71602 -2.403,-1.07422 -3.354,-1.07422 -1.055,0 -1.906,0.3832 -2.552,1.15313 -0.645,0.76918 -0.967,1.79878 -0.967,3.08788 0,1.6031 0.453,3.2621 1.357,4.9742 0.906,1.7149 2.101,3.2887 3.586,4.7219 1.484,1.434 3.113,2.5828 4.885,3.45 1.771,0.8668 3.484,1.3 5.138,1.3 1.628,0 2.87,-0.2801 3.723,-0.841 0.853,-0.5602 1.279,-1.4012 1.279,-2.5219 0,-0.9391 -0.371,-2.0992 -1.113,-3.4812 0.533,-0.0391 0.926,-0.2059 1.176,-0.4989 0.25,-0.2929 0.375,-0.7519 0.375,-1.3769 0,-1.0172 -0.209,-2.4332 -0.626,-4.252 -0.417,-1.816 -0.925,-3.4941 -1.524,-5.02927 -0.731,-1.93789 -1.774,-3.62383 -3.129,-5.05469 -1.031,-1.08125 -2.308,-2.00703 -3.833,-2.78203 -1.526,-0.775 -2.835,-1.16211 -3.931,-1.16211 -0.912,0 -1.728,0.36484 -2.444,1.09297 -0.717,0.72812 -1.076,1.54922 -1.076,2.45898 0,0.61094 0.157,1.2461 0.469,1.90196 0.313,0.6582 0.717,1.22109 1.213,1.69023 1.017,1.02695 2.509,2.00274 4.477,2.92576 0.365,0.1832 0.646,0.2742 0.841,0.2742 0.079,0 0.15,-0.032 0.215,-0.098 0.065,-0.0652 0.098,-0.1359 0.098,-0.2152 0,-0.0899 -0.078,-0.26606 -0.234,-0.52778 -0.391,-0.66406 -0.737,-1.51406 -1.036,-2.55 -0.299,-1.03515 -0.449,-1.93007 -0.449,-2.68593 0,-0.88711 0.137,-1.3293 0.412,-1.3293 0.143,0 0.323,0.15899 0.538,0.47813 0.216,0.31992 0.409,0.68086 0.578,1.08515 1.111,2.81485 1.824,5.41992 2.138,7.81793 0.039,0.35 0.077,0.877 0.115,1.5797" />
              </g>
            </g>
          </g>
        </svg>
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
