<template>
    <card-container :document="document" class="feed-card" >
        <card-title>
            <img class="avatar" :src="$options.forumAvatarUrl + item.user.forum_username + '/36/1_1.png'">

            <span>
                <document-title :document="item.user"/>
                <span class="has-text-weight-normal">&nbsp;{{ $gettext(actionLine) }}</span>
            </span>

            <icon-document :document-type="documentType" class="is-pulled-right is-size-3"/>
        </card-title>

        <card-row>
            <document-title :document="item.document" class="is-ellipsed has-text-weight-bold"/>
            <span v-if="documentType=='outing'" class="is-nowrap">{{ dates }}</span>
        </card-row>

        <card-row v-if="locale && locale.summary">
            <markdown :content="locale.summary" class="is-ellipsed"/>
        </card-row>

        <card-row v-if="images.length!=0">
            <gallery :images="images" />
        </card-row>

        <card-row v-if="documentType!='article' && documentType!='book'">
            <outing-rating v-if="documentType=='outing'" :document="item.document"/>
            <route-rating v-else-if="documentType=='route'" :document="item.document"/>

            <card-elevation-item :elevation="item.document.elevation_max" class="is-ellipsed"/>

            <span v-if="item.document.height_diff_up" :title="$gettext('height_diff_up')">
                <icon-height-diff-up />
                {{ item.document.height_diff_up }}&nbsp;m
            </span>

            <span v-if="item.document.height_diff_difficulties" :title="$gettext('height_diff_difficulties')">
                <fa-icon icon="arrows-alt-v"/>
                {{ item.document.height_diff_difficulties }}&nbsp;m
            </span>
        </card-row>

        <card-row v-if="item.document.areas" slot="row4">
            <card-region-item :document="item.document"/>
        </card-row>

        <card-row>
            <activities v-if="item.document.activities" :activities="item.document.activities" class="is-size-3"/>
            <span>
                <marker-image-count :image-count="item.document.img_count" />
                <icon-geometry-detail v-if="item.document.geometry && item.document.geometry.has_geom_detail"/>
            </span>
            <span> {{ $moment.timeAgo(item.time) }} </span>
            <span>
                <marker-condition v-if="documentType=='outing'" :condition="item.document.condition_rating"/>
                <marker-quality :quality="item.document.quality" />
            </span>
        </card-row>
    </card-container>
</template>

<script>
    import forum from '@/js/apis/forum'

    import { cardMixin } from './utils/mixins.js'

    export default{

        mixins: [
            cardMixin
        ],

        props: {
            item: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                actionLine: null,
                images: []
            }
        },

        computed: {
            document() {
                return this.item.document
            },
            documentType() {
                return this.$documentUtils.getDocumentType(this.document['type'])
            },
            locale() {
                return this.$documentUtils.getLocaleSmart(this.item.document)
            }
        },

        forumAvatarUrl: forum.url + '/user_avatar/' + forum.url.replace('https://', '') + '/',

        created() {
            this.actionLine = ''

            switch (this.item['change_type']) {
            case 'created':
                this.actionLine += 'has created a new '
                break
            case 'updated':
                this.actionLine += 'has updated the '
                break
            case 'added_photos':
                this.actionLine += 'has added images to '
                break
            default:
                break
            }

            this.actionLine += this.documentType
            this.dates = this.$documentUtils.getOutingDatesLocalized(this.item['document'])

            if (this.item.image1) {
                this.images.push(this.item.image1)
            }

            if (this.item.image2) {
                this.images.push(this.item.image2)
            }

            if (this.item.image3) {
                this.images.push(this.item.image3)
            }
        }
    }
</script>

<style scoped lang="scss">

@import '@/assets/sass/variables.scss';

    .feed-card{
        background-color:#FFF!important;
        transition:0.2s;
        max-width:600px
    }

    .feed-card:hover{
        background-color:$hover-background!important;
        transition:0.2s;
    }

    .card-image-content{
        display:flex;
        overflow: hidden;
    }

    .avatar{
        border-radius: 50%;
        width: 36px;
        height: 36px;
        vertical-align: bottom;
        margin-right: 0.5rem;
    }

    .has-3-images > div{
        width:33.33%;
        max-height: 275px;
        overflow: hidden;
    }

    .has-2-images > div{
        width:50%;
    }

    .has-2-images > div{
        width:100%;
    }

    .card-image-content > div > img{
        width:100%;
        box-sizing: border-box;
    }

</style>
