<template>
    <div v-if="isNormalView" class="box discourse-comments no-print">
        <h2 class="title is-2" v-translate>Comments</h2>

        <div v-if="document.disable_comments">
            <p v-translate>Comments are disabled.</p>
        </div>

        <div v-else-if="promise && promise.error" class="notification is-danger">
            <p>
                <span v-translate>Oups! Something went wrong with forum. Here is the message :</span>
                <br>
                {{ promise.error.message }}
            </p>
        </div>

        <div
            v-else-if="locale.topic_id === null || comments.length === 0"
            class="has-text-centered">
            <login-button v-if="!$user.isLogged" v-translate>
                Log in to post the first comment
            </login-button>
            <button v-else class="button is-primary" @click="createTopic" v-translate>
                Post the first comment
            </button>
        </div>

        <div v-else>
            <div v-for="post of comments" :key="post.id" class="discourse-post">
                <div class="columns is-gapless">
                    <div class="column is-narrow discourse-post-avatar">
                        <img
                            :src="$options.forumUrl + '/' + post.avatar_template"
                            :width="$options.forumAvatarSize"
                            :height="$options.forumAvatarSize">
                    </div>
                    <div class="column">
                        <div class="discourse-post-header">
                            <a :href="$options.forumUrl + '/users/' + post.username" :title="post.username"
                               class="discourse-post-header-username">
                                {{ post.username }}
                            </a>
                            <span class="is-pulled-right">
                                {{ $moment.timeAgo(post['created_at']) }}
                            </span>
                        </div>

                        <!-- eslint-disable-next-line vue/no-v-html -->
                        <div class="discourse-content" v-html="post.cooked"/>

                    </div>
                </div>
            </div>

            <div class="has-text-centered">
                <login-button v-if="!$user.isLogged" v-translate>
                    Log in to post a comment
                </login-button>
                <a v-else :href="discussionUrl" class="button is-primary" v-translate>
                    Continue the discussion
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import { requireDocumentProperty } from '@/js/properties-mixins'
    import viewModeMixin from '.././view-mode-mixin'

    import forum from '@/js/apis/forum.js'

    const computeCooked = function(cooked) {
        cooked = cooked.replace(/<a class="mention" href="/g, '<a class="mention" href="' + forum.url)

        return cooked
    }

    export default {
        mixins: [ requireDocumentProperty, viewModeMixin ],

        data() {
            return {
                promise: {}
            }
        },

        computed: {

            locale() {
                return this.document.cooked
            },

            discussionUrl() {
                if (!this.topic) {
                    return null
                }

                return forum.url + '/t/' + this.topic.slug + '/' + this.locale.topic_id + '/' + this.topic.posts_count
            },

            topic() {
                return this.promise.data
            },

            comments() {
                const result = []

                if (!this.topic || !this.topic.post_stream) {
                    return result
                }

                const data = this.topic.post_stream

                let posts = data.posts

                if (posts[0].name === 'system') {
                    posts = posts.slice(1)
                }

                for (let post of posts) {
                    post.avatar_template = post.avatar_template.replace('{size}', this.$options.forumAvatarSize)
                    post.cooked = computeCooked(post.cooked)
                    result.push(post)
                }

                return result
            }

        },

        forumUrl: forum.url,
        forumAvatarSize: 45,

        created() {
            this.getComments()
        },

        methods: {
            createTopic() {
                const document_id = this.document.document_id
                const lang = this.locale.lang

                forum.createTopic(document_id, lang)
                    .then(response => {
                        const topic_id = response['data']['topic_id']
                        const url = forum.url + '/t/' + document_id + '_' + lang + '/' + topic_id
                        window.location = url
                    })
                    .catch(error => {
                        if (error.response && error.response.status === 400) {
                            const topic_id = error.response['data']['errors'][0]['topic_id']
                            if (topic_id !== undefined) {
                                this.locale.topic_id = topic_id
                                this.getComments()
                            }
                        }
                    })
            },

            getComments() {
                if (this.locale.topic_id) {
                    this.promise = forum.getTopic(this.locale.topic_id)
                }
            }
        }
    }
</script>

<style lang="scss">

@import '@/assets/sass/variables.scss';

.discourse-comments{
    background: #fbfaf6 !important;
}

.discourse-post{
    border-top:6px solid $color-base-c2c;
    margin-bottom:1.5rem;
}

.discourse-post-avatar img{
    margin:15px 15px 15px 0;
    border-radius: 4px;
}

.discourse-post-header{
    background: #E4E4E4;
    padding: 4px 10px 4px;
}

.discourse-post-header-username{
    font-weight:bold;
}

.discourse-content{
    margin-top:0.5rem;

    .emoji{
        width:20px;
        height:20px;
        vertical-align: middle;
    }

    .quote{
        margin-top: 1em;
        margin-bottom: 1em;

        .title, blockquote {
            background-color: #F0EFEB;
            border-left: 5px solid #e9e9e9;
            border-left-color: #D0D0D0;
        }

        .title{
            padding: 12px 12px 1px 12px;
            margin-bottom: 0;
        }

        blockquote{
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            padding: 12px;
        }
    }

    h2{
        margin: 30px 0 10px;
        font-size: 1.5em;
        font-weight: bold;
    }
}

</style>
