

//https://bulma.io/documentation/customize/variables/


/**
 * here is custom c2c variables
 */
$color-base-c2c: #ffaa45; // orange
$color-complementary: #a9d361; // green
$color-link: #337ab7; // actually, primary color, but used for links...

$color-base-darker: #B26F1E;
$color-base-lighter: #FFAA45;
$color-complementary-lighter: #45C5FF;

/**
 * Bulma variables
 */
$body-size : 14px !default;

// define size to get entire px size.
// TODO : is ot smarter to directlty set px values ?....

$size-1	: 2.1429rem;   // 30/14
$size-2	: 1.8571rem;   // 26/14
$size-3	: 1.5714rem;   // 22/14
$size-4	: 1.2857rem;   // 18/14
$size-5	: 1.1429rem;   // 16/14
// $size-6 : 1 rem,    untouched
$size-7 : 0.7857rem;   // 12/14


/**
 * customize bulma colors
 */
$primary: $color-link;
$secondary: $color-complementary;
$link: $color-link;
//$info: $cyan
//$success: $green
//$warning: $yellow
//$danger: $red
//$dark: $grey-darker
//$text: $grey-dark
$pagination-current-background-color:$primary;
$pagination-current-border-color:$primary;
$body-background-color : white;

// Paddings and margins
$section-padding : 1.5rem 1.5rem;


/* box custom */
$box-radius: 0;


/*
 * Here is bulma variables needed for components.
 * we only includes variables from utilities, and
 * locally other varaible if needded (like $navbar-height)
 */
$navbar-height: 3.25rem;

// TODO bulkma 0.7.3 will introduce $input-placeholder-color
// but it's not yet (14/12/2018) available on npm
$input-placeholder-color:rbg(160,160,160);

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AAA!important;
    opacity: 1; /* Firefox */
}

@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/derived-variables.sass";


/**
 * Another custom C2C var, but that are computed from bulma variables
 */

$hover-background: hsl(0, 0%, 92%);
